@mixin button
    display: flex
    justify-content: center
    align-items: center
    font-family: 'Cinzel', serif
    background-color: black
    border: $white-border-thin
    color: $white-color
    border-radius: 50%
    outline: none
    transition: all .6s

@mixin hover-button
    background-color: $white-color
    border: $black-border-thin
    cursor: pointer
    color: black

@mixin font-awesome
    display: flex
    align-items: center
    justify-content: center
    font-size: 35px
    color: black
    height: 60px
    width: 60px
    margin: .8em
    transition: all .6s

@mixin hover-font-awesome
    color: red
    cursor: pointer    

@mixin border-logo-style
    display: flex
    align-items: center
    justify-content: center
    background-color: black
    color: $white-color
    border: $white-border-thin
    height: 155px
    width: 155px
    border-radius: 50%
    z-index: 1
    transition: all .6s

@mixin logo-name-style
    font-family: 'Texturina', serif
    font-size: 32px
    transform: translate(0, -4px)
