.about
    min-height: 110vh
    width: 77%
    margin: 0 auto
    font-size: 21px
    line-height: 1.7
    word-spacing: 2.5px
    &.about p
        margin-top: 3vh
        & span
            font-weight: 700