*
    margin: 0
    padding: 0
    box-sizing: border-box
    .app
        overflow: hidden
        font-family: 'Cinzel', serif
        header
            min-height: 100vh
            display: flex
            flex-direction: column
            background-color: grey
            background-image: url(../../images/back_10.jpg)
            // background-blend-mode: screen
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
            section
                min-height: 93vh
                display: flex
                flex-direction: row-reverse
        article.offer
            // background-color: black
        article.recommendations
            background-color: grey
            background-image: url(../../images/back_17.jpg)
            background-blend-mode: screen
            background-repeat: no-repeat
            background-size: cover
            background-position: center center
        footer
            background-image: url(../../images/back_11.jpg)
            background-size: 100%
        h1
            padding-top: 5vh
            font-size: 33px
            font-weight: 700
            text-align: center
