* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* .app {
  background-image: url(../../images/back_1_att.jpg);
  background-attachment: fixed;
  background-size: 100vw;
  font-family: 'Cinzel', serif;
}

.home {
  height: 100vh;
}

.home div {
  display: block;
  position: absolute;
  top: 30vh;
  left: 16vw;
  width: 60vw;
  font-size: 130px;
  font-family: 'Raleway Dots', cursive;
  text-transform: uppercase;
  letter-spacing: .3vw;
  line-height: 180px;
}

.home p:last-child {
  padding-top: 3vh;
  padding-left: 5vw;
}

.home p:last-child span {
  font-family: 'Unica One', cursive;
  font-size: 155px;
  text-transform: lowercase;
  letter-spacing: .9vw;
}

.home button {
  position: absolute;
  bottom: 3vh;
  right: calc(50vw - 35px);
  height: 100px;
  width: 70px;
  border: none;
  background-color: rgba(255, 255, 255, 0);
  -ms-flex-line-pack: center;
      align-content: center;
  outline: 0;
}

h1 {
  padding-top: 5vh;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.about {
  min-height: 110vh;
  width: 80%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.7;
  word-spacing: 2.5px;
}

div.about p {
  margin-top: 3vh;
}

.about p span {
  font-weight: 700;
}

.products {
  min-height: 110vh;
}

.recommendations {
  min-height: 110vh;
  font-size: 21px;
  width: 90%;
  margin: 0 auto;
}

.opinions {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

div.opinions div {
  width: 25%;
  min-height: 20%;
  margin: 3vh 2vw;
  padding: 7px;
  line-height: 1.7;
  border: black 2px solid;
  background-color: rgba(100, 100, 100, 0.2);
}

.opinions div p {
  font-family: 'JetBrains Mono', monospace;
}

.opinions p:last-child {
  font-weight: 700;
  margin-top: 1vh;
  float: right;
}

.career {
  width: 80%;
  min-height: 110vh;
  font-size: 21px;
  line-height: 1.7;
  word-spacing: 1.5px;
  margin: 0 auto;
  position: relative;
}

.offers {
  padding-top: 3vh;
}

.offers div p:first-child {
  margin-top: 3vh;
}

table, th, td {
  width: 90%;
  table-layout: fixed;
  margin: 5vh auto 0 auto;
  border: 1px solid black;
  border-collapse: collapse;
}

th, td {
  padding: 7px;
  text-align: center;
}

tr td a {
  text-decoration: none;
}

.date, .location {
  width: 20%;
}

.job-offer {
  width: 60%;
}

.offer {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
}

.offer-details {
  font-size: 18px;
  display: none;
  background-color: #d0d0dc;
  color: black;
  opacity: .95;
  width: 80%;
  height: 100%;
  position: fixed;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 100;
}

.visible {
  display: block;
}

.products {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: start;
      align-content: flex-start;
}

.products .dish {
  font-size: 40px;
  text-shadow: 3px 3px 6px black;
  color: #d0d0dc;
  padding: 2%;
  width: 20%;
  height: 40vh;
  margin: 3vh 2vw 1vh 2vw;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  -webkit-box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.5);
          box-shadow: 2px 6px 12px 2px rgba(0, 0, 0, 0.5);
  position: relative;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
}

.products div:hover {
  background-size: 120% auto;
  cursor: pointer;
  -webkit-filter: grayscale(0%);
          filter: grayscale(0%);
}

.mugs {
  background-image: url(../../images/mug_1_small.jpg);
}

.cups {
  background-image: url(../../images/cup_1_small.jpg);
}

.pots {
  background-image: url(../../images/teapot_2_small.jpg);
}

.plates {
  background-image: url(../../images/plate_14_small.jpg);
}

.bowls {
  background-image: url(../../images/bowl_1_small.jpg);
}

.vases {
  background-image: url(../../images/vase_4_small.jpg);
}

.more-btn, .join {
  border: 3px solid #d0d0dc;
  text-shadow: 2px 2px 3px black;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  background-color: black;
}

.more-btn {
  right: 2vw;
  bottom: 2vw;
  width: 80px;
  height: 80px;
}

.join {
  font-size: 22px;
  width: 115px;
  height: 115px;
  right: 12vw;
  bottom: 10vw;
  padding: 5px;
}

.more-btn a, .join a {
  text-decoration: none;
  color: #d0d0dc;
}

.more-btn:hover a, .join:hover a {
  color: black;
}

.more-btn:hover, .join:hover {
  background-color: #d0d0dc;
}

.fa-newspaper {
  font-size: 20px;
  width: 25px;
  color: #d0d0dc;
  line-height: 30px;
  margin-right: 6px;
}

.open-offer-modal-btn {
  background-color: transparent;
  border: none;
  font-family: 'Cinzel', serif;
  font-size: 21px;
  outline: none;
}

.open-offer-modal-btn:hover {
  cursor: pointer;
}

.back {
  background-color: black;
  opacity: .6;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

/*Modal*/
.modal-wrapper {
  margin: 0 auto;
  display: none;
  position: fixed;
  top: 3vh;
  left: 10vw;
  background-color: #d0d0dc;
  height: 94vh;
  width: 80vw;
  padding: 0 2vw;
  overflow: auto;
  /* transition: all 1.3s ease; */
}

.modal-wrapper span:first-child {
  font-weight: 700;
  font-size: 19px;
}

div .modal-wrapper {
  font-size: 19px;
}

.modal-wrapper div p {
  padding-top: 1.3vh;
}

.send-cv-btn {
  border: 3px solid #d0d0dc;
  color: #d0d0dc;
  text-shadow: 2px 2px 3px black;
  font-size: 22px;
  border-radius: 50%;
  margin: 3vh 3vh 3vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 115px;
  height: 115px;
  outline: none;
}

.close-btn {
  font-family: 'Cinzel', serif;
  border: 3px solid #d0d0dc;
  color: #d0d0dc;
  text-shadow: 2px 2px 3px black;
  font-size: 17px;
  border-radius: 50%;
  margin: 3vh 3vh 1vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 70px;
  height: 70px;
  outline: none;
}

.back {
  background-color: black;
  opacity: .6;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
}

span:first-child {
  font-weight: 700;
  font-size: 19px;
}

div {
  font-size: 19px;
}

div p {
  padding-top: 1.3vh;
}

.send-cv-btn {
  border: 3px solid #d0d0dc;
  color: #d0d0dc;
  text-shadow: 2px 2px 3px black;
  font-size: 22px;
  border-radius: 50%;
  margin: 3vh 3vh 3vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 115px;
  height: 115px;
  outline: none;
}

.send-cv-btn:hover {
  border: 3px solid black;
  background-color: #d0d0dc;
}

.close-btn {
  font-family: 'Cinzel', serif;
  border: 3px solid #d0d0dc;
  color: #d0d0dc;
  text-shadow: 2px 2px 3px black;
  font-size: 17px;
  border-radius: 50%;
  margin: 3vh 3vh 1vh auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: black;
  width: 70px;
  height: 70px;
  outline: none;
}

.close-btn:hover {
  border: 3px solid black;
  background-color: #d0d0dc;
  cursor: pointer;
}

.navigation-bar {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  margin-right: 1vw;
  padding-top: 3vh;
}

.nav li {
  padding: 0 20px;
  color: black;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
  border-right: black 2px solid;
  font-family: 'Cinzel', serif;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.nav li:last-child {
  border-right: none;
}

.nav li:hover {
  color: #d0d0dc;
  text-shadow: 2px 2px 3px black;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 200px;
  width: 200px;
  border-radius: 50%;
}

.menu-logo {
  position: fixed;
  top: 4vh;
  left: 3vh;
  border: 2px black solid;
}

.logo-name {
  font-family: 'Texturina', serif;
  font-size: 38px;
  -webkit-transform: translate(0, -4px);
          transform: translate(0, -4px);
}

.aside {
  position: fixed;
  bottom: 7vh;
  right: 3vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.aside li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  width: 60px;
  margin: 6px 0;
  border-right: none;
}

.fab, .fas {
  font-size: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.newsletter {
  background-color: black;
  color: #d0d0dc;
  font-family: 'Cinzel', serif;
  font-size: 23px;
  min-height: 24vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.newsletter div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 35px;
  padding: 2vh;
}

.newsletter div .fa-newspaper {
  font-size: 34px;
  margin-right: 1.5vw;
}

.newsletter form {
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3vh;
}

.newsletter input {
  color: #d0d0dc;
}

.newsletter [type='email'] {
  width: 25%;
  margin: 0 3vw 0 1vw;
  border: #d0d0dc 2px solid;
  background-color: black;
}

.newsletter [type='submit'] {
  background-color: transparent;
  border: 2px solid #d0d0dc;
  height: 43px;
  width: 120px;
  font-family: 'Cinzel', serif;
  font-size: 23px;
  outline: none;
}

.newsletter [type='submit']:hover {
  background-color: #d0d0dc;
  color: black;
}

.contact_form {
  font-family: 'Cinzel', serif;
  border: black 2px solid;
  width: 70%;
  min-height: 67vh;
  margin: 4vh auto 3vh auto;
}

.contact_form .contact_title {
  margin-top: 5vh;
  margin-bottom: 4vh;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.contact_form .address {
  font-size: 28px;
  line-height: 38px;
  font-weight: normal;
  text-align: center;
  width: 50%;
  height: 72%;
  display: inline-block;
}

.contact_form .address p {
  width: 80%;
  margin: 0 auto;
}

.contact_form .address p:first-child {
  margin-bottom: 2vh;
  margin-top: 2vh;
}

.contact_form .address p:nth-last-child(2) {
  margin-top: 2vh;
}

.form {
  float: right;
  width: 50%;
  height: 72%;
}

.form form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form textarea {
  background-color: rgba(100, 100, 100, 0.2);
  border: black 2px solid;
  width: 80%;
  height: 13vh;
}

.form input, .form .form input:not([type='file']) {
  background-color: rgba(100, 100, 100, 0.2);
  border: black 2px solid;
  width: 50%;
  height: 25px;
}

.form label {
  margin-top: 1vh;
}

.form [type='submit'] {
  background-color: transparent;
  border: black 2px solid;
  margin-top: 4vh;
  height: 43px;
  width: 120px;
  font-family: 'Cinzel', serif;
  font-size: 23px;
  outline: none;
}

.form [type='submit']:hover {
  background-color: #d0d0dc;
}

.contribution {
  font-family: 'Times New Roman', Times, serif;
  height: 3vh;
}

.contact_form div {
  display: inline-block;
}
/*# sourceMappingURL=style.css.map */