section {
  height: 370vh;
  font-family: 'Cinzel', serif;
}

h1 {
  padding-top: 10vh;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
}

.about {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.7;
  word-spacing: 2.5px;
}

div.about p {
  padding-top: 3vh;
}

.about p span {
  font-weight: 700;
}

.products {
  height: 100vh;
}

.recommendations {
  /* background-image: url("../images/plate_5.jpg"); */
  /* background-size: cover; */
  /* background-position: center; */
  height: 100vh;
  font-size: 21px;
  width: 90%;
  margin: 0 auto;
}

.opinions {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  
}

div.opinions div {
  width: 25%;
  height: 20%;
  margin: 5vh 2vw;
  padding: 7px;
  line-height: 1.7;
  border: black 2px solid;
}

.opinions div p {
  font-family: 'JetBrains Mono', monospace;
}

.opinions p:last-child {
  font-weight: 700;
  margin-top: 1vh;
  float: right;
}