section {
  height: 370vh;
}

h1 {
  padding-top: 10vh;
  font-size: 33px;
  font-weight: 700;
  text-align: center;
  font-family: 'Cinzel', serif;
}

.about {
  height: 100vh;
  width: 80%;
  margin: 0 auto;
  font-size: 21px;
  line-height: 1.7;
  font-family: 'Cinzel', serif;
  word-spacing: 2.5px;
}

div.about p {
  padding-top: 3vh;
}

.about p span {
  font-weight: 700;
}

.products {
  height: 100vh;
}

.recommendations {
  height: 100vh;
  font-size: 30px;
  width: 90%;
  margin: 0 auto;
}