header {
   height: 100vh;
   background-color: #d0d0dc;
}

.bckg {
   background-image: url(../images/header_3.jpg);
   height: 92vh;
   background-position: 0 20%;
   background-size: cover;
 }

 .tagline {
   display: block;
   position: absolute;
   top: 37vh;
   left: 20vw;
   width: 60vw;
   font-size: 120px;
 }

 .design {
   font-style: italic;
 }

 .your {
   display: block;
   position: absolute;
   top: 17vh;
   left: 5vw;
 }

 .word {
   display: inline-block;
 }

 .style {
   opacity: 1;
   color: red;
 }

.life {
   opacity: 1;
   color: gold;
}

.joy {
   opacity: 1;
   color: purple;
}

.fas {
   font-size: 40px;
}

.arrow {
   height: 100px;
   width: 70px;
   border: black 2px solid;
   background-color: white;
   border-radius: 40%;
   position: relative;
   bottom: 5vh;
   left: calc(50% - 35px);
}

.arrow:hover {
   cursor: pointer;
   background-color: #d0d0dc;
}