.modal-wrapper {
    margin: 0 auto;
    display: none;
    position: fixed;
    top: 3vh;
    left: 10vw;
    background-color: #d0d0dc;
    height: 94vh;
    width: 80vw;
    padding: 0 2vw;
    overflow: auto;
        /* transition: all 1.3s ease; */
}

.modal-wrapper span:first-child {
    font-weight: 700;
    font-size: 19px;
}

div .modal-wrapper {
    font-size: 19px;
}

.modal-wrapper div p {
    padding-top: 1.3vh;
}

.send-cv-btn {
    border: 3px solid #d0d0dc;
    color: #d0d0dc;
    text-shadow: 2px 2px 3px black;
    font-size: 22px;
    border-radius: 50%;
    margin: 3vh 3vh 3vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 115px;
    height: 115px;
    outline: none;
  }
  
.close-btn {
    font-family: 'Cinzel', serif;
    border: 3px solid #d0d0dc;
    color: #d0d0dc;
    text-shadow: 2px 2px 3px black;
    font-size: 17px;
    border-radius: 50%;
    margin: 3vh 3vh 1vh auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    width: 70px;
    height: 70px;
    outline: none;
}

.back {
    background-color: black;
    opacity: .6;
    height: 100%;
    width: 100%;
    position: fixed;
    left: 0;
    top: 0;
}