.nav {
    display: inline-block;
    position: fixed;
    top: 15px;
    right: 0;
    width: 100vw;
    z-index: 1;
    height: 60px;
}

.nav_btn {
    line-height: 30px;
    padding: 10px 0 10px 0;
    background-color: white;
    color: black;
    font-size: 22px;
    border: none;
    font-family: Verdana, sans-serif;
    cursor: pointer;
    width: 25%;
}

button p {
    border-right: black 2px solid;
}

div button:last-child p {
    border-right: none;
}

.nav_btn:hover {
    background-color: rgb(200, 200, 200);
}