.header {
   height: 100vh;
}

 .tagline {
   display: block;
   position: absolute;
   top: 30vh;
   left: 17vw;
   width: 60vw;
   font-size: 100px;
 }

 .design {
   font-style: italic;
 }

 .your {
   display: block;
   position: absolute;
   top: 17vh;
   left: 5vw;
 }

 .word {
   display: inline-block;
 }

 .style {
   opacity: 1;
   color: red;
 }

.life {
   opacity: 1;
   color: gold;
}

.joy {
   opacity: 1;
   color: purple;
}

.fas {
   font-size: 40px;
}

.arrow {
   position: absolute;
   bottom: 5vh;
   right: calc(50vw - 35px);
   height: 100px;
   width: 70px;
   border: none;
   /* border: black 2px solid;
   border-radius: 40%; */
   background-color: rgba(255,255,255,0);
}

/* .arrow:hover {
   cursor: pointer;
   background-color: #d0d0dc;
} */