.header {
   height: 100vh;
}

 .tagline {
   display: block;
   position: absolute;
   top: 30vh;
   left: 18vw;
   width: 60vw;
   font-size: 130px;
   font-family: 'Raleway Dots', cursive;
   text-transform: uppercase;
 }

 .tagline p:last-child {
    padding-top: 3vh;
    padding-left: 5vw;
 }

.arrow {
   position: absolute;
   bottom: 5vh;
   right: calc(50vw - 35px);
   height: 100px;
   width: 70px;
   border: none;
   background-color: rgba(255,255,255,0);
}