.shop {
    min-height: 210vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.shop-title {
    padding-bottom: 3vh;
}

.filter {
    width: 90%;
    height: 20vh;
    border: 2px solid black;
}

.shop-products {
    width: 60% ;
    height: 170vh;
    border: 2px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
}

.cart {
    width: 20% ;
    height: 70vh;
    border: 2px solid black;
}

.product img {
    width: 50px;
    height: 100px;
}