@import '../variables.sass'
@import '../mixins.sass'

.career-modal-wrapper
    margin: 0 auto
    position: fixed
    top: 3vh
    left: 10vw
    background-color: $white-color
    height: 94vh
    width: 80%
    padding: 0 2vw
    overflow: auto
    font-size: 19px
    z-index: 30
    opacity: 0
    transform: translateY(-100vh)
    transition: all 1s ease-out
    & div p
        padding-top: 1.3vh
        & span:first-child
            font-weight: 700
            font-size: 19px
        & span:last-child
            white-space: pre-wrap
    & .close-btn
        @include button
        color: $white-color
        font-size: 17px
        margin: 3vh 3vh 1vh auto
        width: 70px
        height: 70px
        &:hover
            @include hover-button
            background-color: $white-color
    & .send-cv-btn
        @include button
        color: $white-color
        font-size: 22px
        margin: 3vh 3vh 3vh auto
        width: 115px
        height: 115px
        &:hover
            @include hover-button
