@import '../variables.sass'
@import '../mixins.sass'

.home
    & .logo
        position: fixed
        top: 6vh
        left: 2.37vw
        z-index: 20
        mix-blend-mode: difference
        & .logo-border
            mix-blend-mode: difference
            @include border-logo-style
            &:hover
                cursor: pointer
                background-color: $white-color
                color: black
            & .logo-name
                @include logo-name-style
    & .main-page
        width: 100%
        display: flex
        justify-content: center
        align-items: center
        & div
            text-align: center
            display: flex
            flex-direction: column
            width: 55vw
            font-size: 8.15rem
            font-family: 'Raleway Dots', cursive
            text-transform: uppercase
            letter-spacing: .3vw
            line-height: 190px
            opacity: 0
            transform: translateX(-3vw)
            & p:first-child
                transform: translateX(-1.3vw)
            & p:last-child
                transform: translateX(+1.2vw)
                & span
                    font-family: 'Unica One', cursive
                    font-size: 155px
                    text-transform: lowercase
                    letter-spacing: .9vw
        & .fas
            position: absolute
            bottom: 3vh
            right: calc(50vw - 35px)
            height: 100px
            width: 70px
            border: none
            font-size: 50px
            text-align: center
            &:hover
                @include hover-font-awesome
    & .side-bar
        position: fixed
        bottom: 0
        display: flex
        flex-direction: column
        justify-content: flex-end
        min-height: 90vh
        // mix-blend-mode: difference
        color: black
        & ul
            list-style: none
            // mix-blend-mode: difference
            display: flex
            align-items: center
            justify-content: center
            flex-direction: column
            margin-bottom: 4vh
            & li
                align-items: flex-end
                & a
                    // mix-blend-mode: difference
                    text-decoration: none
                    @include font-awesome
                    &:hover
                        @include hover-font-awesome
                & .fa-shopping-cart
                    transition: all .6s
                    color: red
                    &:hover
                        color: black
                    