@import '../variables.sass'
@import '../mixins.sass'
    

*
    margin: 0
    padding: 0
    box-sizing: border-box
    & .main
        overflow: hidden
        font-family: 'Cinzel', serif
        background-color: $white-color
        & .header
            background: url('../../../images/back_11.jpg') no-repeat center center
            background-size: cover
            & .home
                min-height: 100vh
        & section
            margin: 0 auto
            font-size: 1.3rem
            line-height: 1.7
            word-spacing: 2.5px
        & article
            margin: 0 auto
            padding: 5em .5em
            width: 75%
        & footer
            background: url('../../../images/back_11.jpg') no-repeat center top
            background-size: cover
        & h1
            font-size: 2.1rem
            font-weight: 700
            // padding-top: 2.5em
            padding-bottom: 1.5em
            text-align: center
            
@media (max-width: 2000px)
    *
        font-size: 16px

// @media (max-width: 1600px)
//     .teachers-card__courses-list

// @media (max-width: 1450px)
//     .teachers-card__courses-list

// @media (max-width: 1360px)
//     .teachers-card__courses-list

@media (max-width: 1260px)
    *
        font-size: 15px

@media (max-width: 1160px)
    *
        font-size: 14px

@media (max-width: 800px)
    *
        font-size: 13px

@media (max-width: 550px)
    *
        font-size: 12px

@media (max-width: 470px)
    *
        font-size: 11px

@media (max-width: 360px)
    *
        font-size: 10px