@import '../variables.sass'
@import '../mixins.sass'

.show-menu
    display: flex
    text-decoration: none
    margin: 1.9vh 0
    position: fixed
    top: 0
    right: 0
    mix-blend-mode: difference
    z-index: 1
    & a
        text-decoration: none
    &:hover .fa-bars, &:hover .fa-shopping-cart
        @include hover-font-awesome
    & .fa-bars, .fa-shopping-cart
        @include font-awesome
        color: $white-color
