@import '../variables.sass'
    
.recommendations
    min-height: 100vh
    & .opinions
        display: flex
        flex-wrap: wrap
        font-size: 19px
        width: 80%
        margin: 0 auto
        & div
            display: flex
            flex-direction: column
            width: 80%
            margin: 3vh 2vw
            padding: 12px
            line-height: 1.7
            border-bottom: 1px solid black
            backdrop-filter: $blur-effect
            & p
                font-family: 'JetBrains Mono', monospace
        & div:nth-child(odd)
            margin-left: 20%
        & div:nth-child(even)
            margin-right: 20%
    & p:last-child
        align-self: flex-end
        margin-top: 10px
        font-weight: 700
