@import '../variables.sass'
@import '../mixins.sass'

.cart-modal
    margin: 0 auto
    display: none
    position: fixed
    top: 3vh
    left: 10vw
    background-color: $white-color
    height: 94vh
    width: 80vw
    padding: 0 2vw
    overflow: auto
    font-size: 19px
    & .close-btn
        @include button
        font-size: 17px
        margin: 3vh 3vh 1vh auto
        width: 70px
        height: 70px
        &:hover
            @include hover-button
    & h2
        margin: 0
        margin-bottom: 1.2em
        text-align: center
    & .order-list
        background-color: pink
        display: flex
        flex-direction: column
        justify-content: center
        & li
            display: flex
            & p:first-child
                width: 55%
                // text-align: left
            & p
                // padding: .4em
                // width: 10%
                // border: 2px solid black
                // text-align: center
            & div
                display: flex
                // width: 45%
        & .change-quantity
            @include button
            font-size: 30px
            margin: .3vh
            width: 35px
            height: 35px
            &:hover
                @include hover-button
        & .delete
            color: black
            font-size: 27px
            margin: .3vh
            outline: none
            background-color: transparent
            border: none
            &:hover
                cursor: pointer
    & form
        display: flex
        flex-direction: column
    & .send-order
        @include button
        font-size: 22px
        margin: 3vh 3vh 3vh auto
        width: 115px
        height: 115px
        &:hover
            @include hover-button
.back
    backdrop-filter: $blur-effect
    height: 100%
    width: 100%
    position: fixed
    left: 0
    top: 0
