@import '../variables.sass'
@import '../mixins.sass'

.loading
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    min-height: 51vh
    margin: 6vh 3vw
    & .fa-spinner
        font-size: 2rem
        margin-bottom: 4vh
    & p
        font-size: 1.9rem
