@import '../variables.sass'
@import '../mixins.sass'

.shop-footer-modal-wrapper
    @include modal-style
    display: flex
    flex-direction: column
    line-height: 1.7
    word-spacing: 1.5px
    z-index: 30
    color: $dark-color
    & h2
        border-bottom: 1px solid black
        margin-bottom: .5em
    & .close-btn
        @include button
        color: $white-color
        font-size: 17px
        margin: 3vh 3vh 1vh auto
        width: 70px
        height: 70px
        &:hover
            @include hover-button
            background-color: $white-color
