@import '../variables.sass'
@import '../mixins.sass'

.shop-footer
    background-color: black
    color: $white-color
    min-height: 8vh
    display: flex
    justify-content: space-between
    letter-spacing: .03em
    align-items: space-between
    & .btn-container
        display: flex
        flex-direction: column
        width: 25%
        justify-content: space-around
        align-items: center
        margin: 0.3em
        & button
            color: $white-color
            font-family: 'Cinzel', serif
            font-size: .9rem
            background-color: transparent
            padding: .2em
            width: 75%
            outline: none
            border: none
            &:hover
                cursor: pointer
        & a
            color: $white-color
            font-size: .9rem
            text-decoration: none
            &:hover
                cursor: pointer
    .shop-footer-back
        // background-color: rgba(2, 2, 2, .7)
        backdrop-filter: $blur-effect
        height: 100%
        width: 100%
        position: fixed
        left: 0
        top: 0
