*
    margin: 0
    padding: 0
    box-sizing: border-box
    & .shop
        overflow: hidden
        font-family: 'Cinzel', serif
        min-height: 100vh
        // display: flex
        // flex-direction: column
        // align-items: space-between
        // justify-content: space-between
        display: grid
        grid-template-columns: auto 430px
@media (max-width: 2000px)
    *
        font-size: 16px

// @media (max-width: 1600px)
//     .teachers-card__courses-list

// @media (max-width: 1450px)
//     .teachers-card__courses-list

// @media (max-width: 1360px)
//     .teachers-card__courses-list

@media (max-width: 1260px)
    *
        font-size: 15px

@media (max-width: 1160px)
    *
        font-size: 14px

@media (max-width: 800px)
    *
        font-size: 13px

@media (max-width: 550px)
    *
        font-size: 12px

@media (max-width: 470px)
    *
        font-size: 11px

@media (max-width: 360px)
    *
        font-size: 10px