@import '../variables.sass'
@import '../mixins.sass'

.loading
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    margin: 6vh 3vw
    .fa-spinner
        font-size: 33px
        margin-bottom: 3vh
    p
        font-size: 33px
