@import '../variables.sass'
@import '../mixins.sass'
    
.shop-footer
    min-height: 20vh
    background-color: black
    color: $white-color
    font-size: .9rem
    min-height: 8vh
    display: flex
    justify-content: center
    letter-spacing: .03em
    & div
        align-items: center
        width: 80%
        & p
            text-align: center
            padding: .2em
            margin: .4em
