@import '../variables.sass'
@import '../mixins.sass'

.cart-modal
    margin: 0 auto
    position: fixed
    top: 3vh
    left: 10vw
    background-color: $white-color
    height: 94vh
    width: 80%
    padding: 0 4vw
    overflow: auto
    font-size: 19px
    opacity: 1
    transform: translateY(-100vh)
    transition: all .8s ease-out
    & article
        margin: 1em 1em 3.3em 1em
    & h2
        border-bottom: 1px solid $dark-color
        margin-bottom: 1.2em
        text-align: center
    & .close-btn
        @include button
        font-size: 17px
        margin: 3vh 3vh 1vh auto
        width: 70px
        height: 70px
        &:hover
            @include hover-button
    & .total-price
        font-size: 1.2em
        padding: .3em
        margin-top: 2em
        align-self: flex-end
        background-color: $dark-color
        color: $white-color
        border: $black-border-thin
        border-radius: 6px
    & .order
        display: flex
        flex-direction: column
        & .order-menu
            display: flex
            background-color: $dark-color
            color: $white-color
            margin-bottom: 2vh
            & > p
                width: 60%
                padding: .15em
            & .buttons
                display: flex
                align-items: center
                justify-content: space-between
                width: 40%
                & p
                    width: 30%
                    text-align: center
                & .delete
                    width: 7%
        & .empty-cart
            align-self: flex-start
        & .order-list
            display: flex
            flex-direction: column
            justify-content: center
            & li
                display: flex
                & > p
                    width: 60%
                    padding: .15em
                & .buttons
                    display: flex
                    align-items: center
                    justify-content: space-between
                    width: 40%
                    & p
                        width: 30%
                        text-align: center
                    & .change-quantity-container
                        display: flex
                        align-items: center
                        justify-content: space-around
                        width: 30%
                        & p
                            text-align: center
                        & .change-quantity
                            @include button
                            font-size: 30px
                            margin: .3vh 0
                            width: 35px
                            height: 35px
                            &:hover
                                @include hover-button
                    & .delete
                        color: $dark-color
                        font-size: 27px
                        margin: .3vh 0
                        outline: none
                        background-color: transparent
                        border: none
                        width: 7%
                        &:hover
                            cursor: pointer
    & .delivery
        display: flex
        flex-direction: column
        justify-content: space-around
        & .delivery-options
            width: 100%
            & ul
                display: flex
                justify-content: space-between
                list-style: none
                & li
                    display: flex
                    flex-direction: column
                    & input
                        margin-right: 1em
                    & p
                        font-size: .8em
                        margin: .5em 0 0 1.8em
        & div
            display: flex
            align-items: flex-end
            justify-content: space-between
            & .estimated-delivery-date
                padding: .3em
                & span:first-child
                    // font-weight: 900
                & span:last-child
                    padding-left: .3em
                    font-weight: 900
                    font-size: 1.1em
    & .address
        & .address-form form
            display: flex
            flex-direction: column
            padding: .3em
            & input
                align-self: flex-start
                background-color: transparent
                backdrop-filter: $blur-effect
                border: $black-border-thin
                border-radius: 6px
                outline: none
                width: 35%
                height: 25px
            & label
                font-size: 1rem
                margin-top: 1vh
        & .send-order
            @include button
            font-size: 22px
            margin: 3vh 3vh 3vh auto
            width: 115px
            height: 115px
            &:hover
                @include hover-button
.shop-cart-back
    backdrop-filter: $blur-effect
    height: 100%
    width: 100%
    position: fixed
    left: 0
    top: 0
